[Desktop Entry]
Name=BlueJeans
Comment=BlueJeans Desktop App
Exec=bluejeans %U
Terminal=false
Type=Application
Icon=com.bluejeans.BlueJeans
Categories=Network;VideoConference;
MimeType=x-scheme-handler/bjn;
